.AnchorPane {
    -fx-background-color: #7CB9E8;
}
.button {
    -fx-background-color: #E0FFFF;
    -fx-background-radius: 0 20 20 0;
 }
 .button:hover {
    -fx-background-color: linear-gradient(to right,#b4caff,#72c5ff, #7ee9ff);
    -fx-background-radius: 0 20 20 0;
    -fx-effect: dropshadow(three-pass-box, rgba(45, 35, 66, 0.4), 10, 0, 0, 0);
 }
 .button:focus {
    -fx-background-color: #07f7f7;
 }
 #addWordbtn {
     -fx-translate-y: -2px;
     -fx-background-radius: 10;
 }

 #btnEditWord {
    -fx-translate-y: -2px;
    -fx-background-radius: 10;
    -fx-background-color: #FCFCFD;
 }

 #btnDeleteWord {
    -fx-translate-y: -2px;
    -fx-background-radius: 10;
    -fx-background-color: #FCFCFD;
 }

 #btnCancel {
    -fx-translate-y: -2px;
    -fx-background-radius: 10;
    -fx-background-color: #FCFCFD;
 }
 #btnConfirm {
    -fx-translate-y: -2px;
    -fx-background-radius: 10;
    -fx-background-color: #FCFCFD;
 }
#inputWord {
-fx-background-color: white, white;
  -fx-background-insets: 0, 2;
  -fx-background-radius: 30, 30;
  -fx-padding: 4 8 4 8;
}
#inputWord:focused {
  -fx-background-color: #f4f4f4, white, white;
  -fx-background-insets: -1.4, 1, 2;
  -fx-background-radius: 31, 30, 30;
}
#inputWord .text-input {
  -fx-background-color: transparent, transparent, transparent;
  -fx-background-insets: 0, 0, 1;
  -fx-background-radius: 30, 30, 29;
}
#textShowMeaning {
   -fx-control-inner-background: "white";
  -fx-font-family: "Arial"; /* Font family, change as needed */
  -fx-font-size: 20px; /* Font size, adjust as needed */
  -fx-border-radius: 10; /* Border corner radius for rounded corners */
  -fx-background-radius: 10; /* Background corner radius for rounded corners */
}

